<body>
<div class="container">
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Cómo Trabajamos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <hr>

  <h2 class="title">PROXIMOS PAGOS CLIENTES</h2>

  <div class="main">

    <div class="center">
      <h2>PROXIMOS PAGOS</h2>

      <div class="movements">
        <label>
          LISTA DE PAGOS FUTUROS
        </label>
        <textarea></textarea>
      </div>

    </div>

    <div class="transaction">

      <h2>
        PROXIMOS PAGOS
      </h2>

      <label>Consulta tus próximos pagos aquí:
        Revisa el tipo de negocio, el monto a
        recibir, el porcentaje de crédito aplicado,
        el plazo del crédito y el nombre de la
        persona que realizará cada pago. Asegúrate
        de que cada transacción esté correcta.
        ¿Necesitas ayuda o más información?
        Contáctanos.
      </label>

      <img ngSrc="assets/images/money1.png" height="150" width="150" alt="image-credit">

    </div>

  </div>


</div>
</body>


