<body>
<div class="container">
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Cómo Trabajamos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <hr>

  <h2 class="title">ULTIMAS TRANSACCIONES CLIENTE</h2>

  <div class="main">

    <div class="center">
      <h2>ULTIMAS TRANSACCIONES</h2>

      <div class="movements">
        <label>
          Movimientos
        </label>
        <textarea></textarea>
      </div>

    </div>

    <div class="transaction">

      <h2>
        ULTIMAS TRANSACCIONES
      </h2>

      <label>Consulta tus últimas transacciones aquí:
        Revisa el tipo de negocio, el monto recibido,
        el porcentaje de crédito aplicado, el tiempo
        del crédito, y el nombre de la persona que realizó
        cada pago. Asegúrate de que cada transacción esté
        correcta. ¿Necesitas ayuda o más información?
        Contáctanos.
      </label>

      <img ngSrc="assets/images/money1.png" height="150" width="150" alt="image-credit">

    </div>

  </div>


</div>
</body>

