<body>
<div class="container">
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Cómo Trabajamos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>
  <hr>
  <h2 class="title">Comerciante</h2>

  <div class="cards">
    <div class="card">
      <button type="submit" routerLink="/business_balance" id="card1">RESUMEN DE SALDO ACTUAL</button>
      <label> ¿Qué ves aquí? Una cifra clara y actualizada del total que tus clientes te deben.
        <br>¿Para qué sirve? Te da una imagen instantánea de cuánto dinero está pendiente de cobro,
        ayudándote a entender rápidamente la salud financiera de tu negocio.
      </label>
    </div>

    <div class="card">
      <button type="submit" routerLink="/business_payment" id="card2">REGISTRO</button>
      <label> ¿Qué ves aquí? Alertas automáticas cuando un cliente está cerca de
        alcanzar su límite de crédito permitido.
        <br>¿Para qué sirve? Evita que se acumulen deudas que no podrás cobrar,
        manteniendo tus finanzas seguras y bajo control.
      </label>
    </div>

    <div class="card">
      <button type="submit" routerLink="business_register_payment" id="card3">ULTIMAS TRANSACCIONES</button>
      <label>
        ¿Qué ves aquí? Una lista de las ventas y pagos más recientes,
        cada uno con detalles a un clic de distancia.
        <br>¿Para qué sirve? Te permite verificar y revisar las
        transacciones recientes de manera rápida, asegurando que todo esté en orden.
      </label>
    </div>

    <div class="card" >
      <button type="submit" routerLink="/business_report" id="card4">GENERACION DE REPORTES</button>
      <label>
        ¿Qué ves aquí? Opciones para crear informes detallados sobre
        el estado de cuentas y otras estadísticas financieras.
        <br>¿Para qué sirve? Proporciona documentos esenciales
        para tu planeación financiera y cumplimiento de requisitos administrativos, todo desde un lugar fácil de usar.
      </label>
    </div>

  </div>

</div>
</body>

