<body>
<div class="container">
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Cómo Trabajamos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <hr>

  <h2 class="title">RESUMEN DE SALDO ACTUAL COMERCIANTE</h2>

  <div class="center">

    <div class="balance">
      <h2>TRANSFERENCIA</h2>

      <div class="open">
        <label for="cci">CCI: </label>
        <input type="text" id="cci" name="cci" [(ngModel)]="merchantCCI">
      </div>

      <div class="open">
        <label for="amount">MONTO: </label>
        <input type="number" id="amount" name="open" [(ngModel)]="merchantAmount">
      </div>

      <div class="buttons">
        <button type="submit">INFORMACION DE TRANSFERENCIA</button>
        <button type="button" id="button2" (click)="depositAmount()">CONFIRMAR PAGO</button>
      </div>
    </div>
 bancaria financiera balance
    <div class="credit">
      <h2>CREDITO</h2>
      <label>Bienvenido de nuevo! Tu saldo actual es S/ {{ merchant.balance }} y para transferir el dinero de tu saldo coloca tu cuenta interbancaria CII  [Cuenta Interbancaria]. Recuerda, siempre estar pendiente de su saldo para que visualices como van tus ingresos. ¿Necesitas ayuda? ¡Contáctanos!</label>
      <img ngSrc="../../../assets/images/money1.png" height="180" width="230" alt="image-credit">
    </div>

  </div>
</div>
</body>

