<body>
<div class="container">
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Cómo Trabajamos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <hr>

  <div class="main">

    <h2>Login</h2>

    <div class="center">
      <button id="button1">CREAR CUENTA CON CORREO</button>
      <button id="button2">INICIAR SESION CON GOOGLE</button>
      <button id="button3">INICIAR SESION CON OUTLOOK</button>
      <button id="button4">INICIAR SESION CON APPLE</button>
    </div>

  </div>

</div>
</body>
