<body>
<div class="container">
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Cómo Trabajamos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <hr>

  <div class="main">

    <div class="center">

      <div class="top">
        <h1>MiBarrioCred</h1>
        <label>Tu nos conoces, nosotros te apoyamos <br> Asi de simple</label>
      </div>

      <div class="buttons">
        <button type="submit">Registrate</button>
        <button type="submit" id="button1">Login</button>
      </div>

    </div>

    <div class="transaction">
      <img ngSrc="assets/images/card.png" height="250" width="400">
    </div>

  </div>

</div>
</body>


