<body>
<div class="container">
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Cómo Trabajamos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <hr>

  <h2 class="title">REGISTRO DE PAGOS COMERCIANTE</h2>

  <div class="main">

    <div class="center">
      <h2>REGISTRO DE PAGOS</h2>

      <div class="open">
        <label for="business_name">TIPO DE NEGOCIO: </label>
        <input id="business_name" name="business_name">
      </div>

      <div class="open">
        <label for="pay">PAGO: </label>
        <input id="pay" name="pay">
      </div>

      <div class="open">
        <label for="credit">CREDITO DEL PAGO: </label>
        <input id="credit" name="n_time">
      </div>

      <div class="open">
        <label for="time_limit">TIEMPO LIMITE DEL CREDITO: </label>
        <input type="date" id="time_limit" name="time_limit">
      </div>

      <button type="submit">Confirmar</button>
    </div>

    <div class="transaction">

      <h2>
        CREDITO
      </h2>

      <label>
        ¡Bienvenido a tu Panel de Control de Pagos! Por favor completa los siguientes datos:
        <br>1.Tipo de Negocio: (ej. restaurante, tienda)
        <br>2.Monto del Pago: S/ [monto]
        <br>3.Porcentaje de Crédito: [%]
        <br>4.Tiempo del Crédito: [días, meses]
        Confirma que la información es correcta antes de finalizar el registro. ¿Necesitas ayuda? ¡Contáctanos!
      </label>

      <img ngSrc="../../../assets/images/money1.png" height="150" width="150" alt="image-credit">

    </div>

  </div>


</div>
</body>


