<body>
<div class="container">
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Cómo Trabajamos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <hr>

  <div class="top">
    <h2 class="title">REGISTRO DE PAGOS CLIENTE</h2>
    <button type="submit" routerLink="/client_menu">Volver</button>
  </div>


  <div class="main">

    <div class="center">
      <h2>REGISTRO DE PAGOS</h2>

      <div class="open">
        <label for="business_name">NOMBRE DEL NEGOCIO: </label>
        <select id="business_name" name="business_name" [(ngModel)]="payment.business_name" required>
          <option value=""></option>
          <option value="Alicorp">Alicorp</option>
          <option value="Tottus">Tottus</option>
          <option value="Gloria">Gloria</option>
        </select>
      </div>

      <div class="open">
        <label for="pay">MONTO A PAGAR S/: </label>
        <input id="pay" name="pay" [(ngModel)]="payment.pay" required>
      </div>

      <div class="open">
        <label for="credit">TASA DE INTERES NOMINAL (% ANUAL): </label>
        <input id="credit" name="credit" [(ngModel)]="payment.credit" required>
      </div>

      <div class="open">
        <label for="time_limit">PERIODO DE PAGO: </label>
        <select id="time_limit" name="time_limit" [(ngModel)]="payment.time_limit" required>
          <option value=""></option>
          <option value="mensual">Mensual</option>
          <option value="trimestral">Trimestral</option>
          <option value="anual">Anual</option>
        </select>
      </div>

      <div class="open">
        <label for="number_share">NUMERO DE CUOTAS: </label>
        <input type="number" id="number_share" name="number_share" [(ngModel)]="payment.number_share" required>
      </div>

      <div class="open">
        <label for="type_amortization">TIPO DE AMORTIZACION: </label>

        <select id="type_amortization" name="type_amortization" [(ngModel)]="payment.type_amortization" required>
          <option value=""></option>
          <option value="frances">Frances</option>
          <option value="aleman">Aleman</option>
          <option value="peruano">Peruano</option>
        </select>

      </div>

      <button type="submit" (click)="onSubmit()" >Confirmar</button>
    </div>

    <div class="transaction">

      <h2>
        CREDITO
      </h2>

      <label>¡Bienvenido a tu Panel de Control de Pagos! Por favor completa los siguientes datos:
        <br>1.- Tipo de Negocio: (ej. restaurante, tienda)
        <br>2.- Monto del Pago: S/ [monto]
        <br>3.- Porcentaje de Crédito: [%]
        <br>4.- Tiempo del Crédito: [días, meses]
        Confirma que la información es correcta antes de finalizar el registro. ¿Necesitas ayuda? ¡Contáctanos!
      </label>

      <img ngSrc="../../../assets/images/money1.png" height="150" width="150" alt="image-credit">

    </div>

  </div>


</div>
</body>

