<body>
<div class="container">
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Cómo Trabajamos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <hr>

  <h2 class="title">RESUMEN DE SALDO ACTUAL COMERCIANTE</h2>

  <div class="center">

    <div class="balance">
      <h2>SALDO ACTUAL</h2>

      <div class="open">
        <label for="balance">Abrir: </label>
        <input id="balance" name="open">
      </div>

      <div class="pay">
        <label for="user-pay">TRANSACCION A CUENTA CCI:</label>
        <input id="user-pay" name="open">
      </div>

      <button type="submit">TRANSFERIR</button>

      <label id="label1">CUENTAS VINCULADAS</label>

      <div class="icon-pay">
        <img ngSrc="assets/images/money_box.png" height="125" width="125" alt="image-pay">
      </div>

    </div>

    <div class="credit">
      <h2>CONSEJO</h2>
      <label>Bienvenido de nuevo! Tu saldo actual es S/ [Saldo Actual] y para transferir el dinero de tu saldo coloca tu cuenta interbancaria CII  [Cuenta Interbancaria]. Recuerda, siempre estar pendiente de su saldo para que visualices como van tus ingresos. ¿Necesitas ayuda? ¡Contáctanos!</label>
      <img ngSrc="assets/images/money1.png" height="180" width="230" alt="image-credit">
    </div>

  </div>

</div>
</body>
