<body>
<div class="container">
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Cómo Trabajamos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <hr>

  <div class="top">
    <h2 class="title">ULTIMAS TRANSACCIONES CLIENTE</h2>
    <button type="submit" routerLink="/client_menu">Volver</button>
  </div>

  <div class="main">

    <div class="center">

      <h2>ULTIMAS TRANSACCIONES</h2>

      <div class="movements">
        <label>
          Movimientos
        </label>

        <div class="card-container">
          <div class="card" *ngFor="let transaction of transactions">
            <div class="card-content">
              <p>Tienda: {{ transaction.nombreTienda }}</p>
              <p>Saldo: S/{{ transaction.saldo.toFixed(2) }}</p>
              <p>Fecha: {{ transaction.fecha | date: 'dd/MM/yyyy' }}</p>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="transaction">

      <h2>
        ULTIMAS TRANSACCIONES
      </h2>

      <label>Consulta tus últimas transacciones aquí:
        Revisa el tipo de negocio, el monto recibido,
        el porcentaje de crédito aplicado, el tiempo
        del crédito, y el nombre de la persona que realizó
        cada pago. Asegúrate de que cada transacción esté
        correcta. ¿Necesitas ayuda o más información?
        Contáctanos.
      </label>

      <img ngSrc="../../../assets/images/money1.png" height="150" width="150" alt="image-credit">

    </div>

  </div>


</div>
</body>

