<body>
<div class="container">
  <nav>
    <ul>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Cómo Trabajamos</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav>

  <hr>

  <h2 class="title">PROXIMOS PAGOS COMERCIANTE</h2>

  <div class="main">

    <div class="center">
      <h2>REPORTES</h2>

      <div class="movements">
        <label>
          LISTA DE REPORTES DE CLIENTES
          QUE CANCELARON SUS PAGOS
        </label>
        <textarea></textarea>
      </div>

    </div>

    <div class="transaction">

      <h2>
        PROXIMOS PAGOS
      </h2>

      <label>Consulta tus últimos reportes aquí: Revisa el
        nombre del cliente, si realizó el pago o no, el monto
        recibido, el porcentaje de crédito aplicado, y el
        tiempo del crédito. Asegúrate de que cada transacción
        esté correcta. Por favor, ten en cuenta que algunos clientes
        ya han realizado sus pagos, mientras que otros aún no lo han hecho.
        ¿Necesitas ayuda o más información? Contáctanos.
      </label>

      <img ngSrc="../../../assets/images/money1.png" height="150" width="150" alt="image-credit">

    </div>

  </div>


</div>
</body>

